<!-- app/views/animaux/index.html.erb -->
<h2>Liste des animaux</h2>

<ul>
  <% @animaux.each do |animal| %>
    <li><%= animal.nom %> - <%= animal.espece %> </li>
  <% end %>
</ul>

<form id="animalForm">
  <label for="nom">Nom:</label><br>
  <input type="text" id="nom" name="nom"><br>
  <label for="espece">Espèce:</label><br>
  <input type="text" id="espece" name="espece"><br><br>
  <input type="submit" value="Ajouter">
</form>

  <%= csrf_meta_tags %>
  <script src="/assets/api.js" defer></script>