<!-- app/views/animaux/index.html.erb -->
<h2>Liste des animaux</h2>

<ul>
  <% @animaux.each do |animal| %>
    <li><%= animal.nom %> - <%= animal.espece %> </li>
  <% end %>
</ul>

<form id="animalForm">
  <label for="nom">Nom:</label><br>
  <input type="text" id="nom" name="nom"><br>
  <label for="espece">Espèce:</label><br>
  <input type="text" id="espece" name="espece"><br><br>
  <label for="naissance">Naissance:</label><br>
  <input type="date" id="naissance" name="naissance"><br><br>
  <label for="deces">Décès:</label><br>
  <input type="date" id="deces" name="deces"><br><br>
  <label for="sexe">Sexe:</label><br>
  <input type="text" id="sexe" name="sexe"><br><br>
  <label for="observations">Observations:</label><br>
  <input type="text" id="observations" name="observations"><br><br>
  <label for="position">Position:</label><br>
  <input type="text" id="position" name="position"><br><br>
  <input type="submit" value="Ajouter">
</form>

  <%= csrf_meta_tags %>
  <script src="/assets/api.js" defer></script>