    <hr>
    <div>
        <h3>Horaires d'ouverture du parc animalier</h3>
        <div class="row">
            <p class="col-md-6">
                Le Zoo de La Palmyre est ouvert toute l’année (jours fériés compris) de 9h à 19h du 1er avril au 30 septembre et de 9h à    18h le     reste de l'année.
            </p>
            <p class="col-md-6">
                Attention : dernières entrées 2h avant la fermeture du parc zoologique ; les animaux commencent à rentrer 1h avant la   fermeture.
            </p>
        <p>Durée moyenne de la visite : 4 heures. </p>
        </div>
    </div><br><hr>
    <div>
        <h3>Tarifs</h3>
        <div class="row m-3">
            <p class="col-md-4">
                Tarifs individuels :
                Adulte = 19 €
                Enfant de 3 à 12 ans = 15 €
                Gratuit pour les enfants de moins de 3 ans.
            </p>
            <p class="col-md-4">
                Carte annuelle d’abonnement :
                Adulte = 57 €
                Enfant de 3 à 12 ans = 45 €
            </p>
            <p class="col-md-4">
                Personnes en situation de handicap* :
                Adulte = 16 €
                Enfant de 3 à 12 ans = 12 €
                * sur présentation d'une carte d'invalidité ou d'une Carte Mobilité Inclusion (CMI)
            </p>
            <p class="col-md-4">
                Tarifs réduits :

                Comités d'entreprise
                Tarifs CE 2023PDF
                Tarifs CE E-billetterie 2023PDF
                Bon de commande billetterie 2023PDF

                Groupes associatifs
                à partir de 25 personnes (associations, clubs 3ème âge...)
                Tarifs Groupes Associatifs 2023PDF

                Groupes scolaires, centres de loisirs
                Tarifs Groupes Scolaires 2023PDF
            </p>
    </div><br><hr>
    <div>
        <h3>Modes de paiement</h3>
        <div class="col-2">

        Sont uniquement acceptés :

        Espèces
        Cartes bleues
        Chèques vacances ANCV
        </div>
    </div><br><hr>
    <div>
    <h3>Bon à savoir</h3>

    Nos billets papier n’ont pas de date de validité.

    Nos parkings sont gratuits.

    </div><br><hr>
    <div class="row justify-content-center">
        <div class="col-6">
        <h3>Informations générales</h3>
        Attention : chiens non admis !
        Pour des raisons de sécurité, les chiens, même tenus en laisse, ne peuvent être admis au sein du parc animalier.

        Le refuge "Les amis des bêtes" à Médis garde les chiens à la journée.
        Tél. : 05 46 05 47 45

        Nourrissage des animaux
        Pour des raisons d'hygiène et de sécurité, il est formellement interdit d'apporter quelque nourriture que ce soit à destination des animaux du zoo.
        </div>
    </div>
</div>
