<div class="container">
<h1> Ma visite au Zoo </h1>

  <ul>
    <% @visits.each do |visit| %>
      <% unless visit.archived? %>
        <li>
          <%= link_to visit.title, visit %>
        </li>
      <% end %>
    <% end %>
  </ul>



</div>