<div id="question" class="hidden">
    <h2>Question</h2>
    <p>Choisissez une réponse :</p>
    <select id="answers">
      <option value="answer1">Réponse 1</option>
      <option value="answer2">Réponse 2</option>
      <option value="answer3">Réponse 3</option>
    </select>
    <button id="submitAnswer">Soumettre</button>
  </div>
