  <style>
    .hidden {
      display: none;
    }
  </style>
  
  <div class="container"> 
     
 
    <div id="gameTitle">
      <h1>Page Game</h1>
      Voulez vous commencer à jouer ?</div>
        <button id="startGameButton">Démarrer le jeu</button>
    </div>


    <div id="animalList" class="container"></div>

<%= render "firstquestion"%>

  </div>    
