<div class="masthead" style="background-image: url('<%= asset_path("img_bg.jpg") %>');">
    <div class="container-fluid text-center masthead-content">
        <div class="pei-titre px-2 ">Rencontre avec les loutres géantes !</div>
        <div class="pei-bouton">
            <div class="field field--name-field-paragraph-pei-btn-link field--type-link field--label-visually_hidden">
                <div class="field__item"><a href="/fr/news/loutres-geantes-au-zoo">Découvrez les loutres</a></div>
            </div>
            
            <div class="header-separator">
                <img src="<%= asset_path("bottom-scratch.png") %>" class="scrach-sep">
           </div>
        </div>
    </div>
</div>
